# fly.toml file generated for stremio-subsunacs-subssab on 2024-02-06T19:39:27.155Z

app = "stremio-subsunacs-subssab"
primary_region = "ams"

[build]
  builder = "paketobuildpacks/builder:base"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
